@page "/agradecimento"

    <br />
    <br />
    <br />
    <br />

    <div class="center">
        <h1>Obrigado!</h1><br/>

        <p>Registrado com sucesso sua contribuição.</p>

        <p>
            Agradeço por me ajudar nesta pesquisa, e fique tranquilo, nenhum dado será associado a você. <br />
            Esta pesquisa é totalmente anônima, o nome inserido no inicio da pagina é unico e exclusivamente <br />
            para gerar uma melhor experiencia dentro do chat, não sendo gravado ou associado ao registro.
        </p>

        <p>Tenha um excelente dia!!! </p>
    </div>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    .