@page "/termo"

    <div class="alert alert-info">

        <h3>TERMO DE CONSENTIMENTO</h3><br />

        <p>
            Você está sendo convidado a participar como voluntário de um estudo de viabilidade do uso
            de maquinas para o apoio e decisão humana. Este documento, visa assegurar seus direitos e
            deveres como participante. Por favor, leia com atenção e calma, aproveitando para esclarecer
            suas dúvidas antes de participar.
        </p><br /><br />

        <h4>Justificativa e objetivos</h4><br />

        <p>
            O presente trabalho visa apenas estudar e provar a possibilidade de se analisar computacionalmente
            o sentimento positivo ou negativo por trás de um texto simples e desconexo presentes em históricos
            de chatboot, visando oferecer para o atendente humano em segundo estágio uma pré análise do caso,
            reconhecendo assim o auxilio da maquina no apoio a tomada de decisões.

            Este trabalho visa não somente estudar a possibilidade de um algoritmo em interpretar um texto
            único, mas também a capacidade do mesmo em aprender mediante a confirmações manuais na ponta pelo
            atendente, garantindo assim uma porcentagem maior de acerto mediante ao uso.
        </p><br />

        <h4>Procedimentos</h4><br />

        <p>
            O experimento se dará em duas fases. Na primeira fase (apontada na ferramenta no momento da
            participação) os voluntários irão auxiliar a ferramenta a entender cenários aos quais viveram
            e no final computar o sentimento por trás daquele contato, buscando assim treinar a ferramenta
            com a linguagem brasileira e uso de palavras na busca de padrões de sentimentos através de
            análise de n-gramas. Na segunda fase, um novo grupo de voluntários serão convidados a participar
            do experimento, porem o sistema tentará adivinhar qual o sentimento por trás deste contato,
            apresentando o resultado, o voluntario será convidado a validar se o sistema acertou ou não a
            previsão, retroalimentando a base de conhecimento para tentativas de acerto maiores no futuro
            para os demais participantes.
        </p><br />

        <h4>Sigilo e privacidade</h4><br />

        <p>
            Você tem a garantia de que sua identidade será mantida em sigilo e nenhuma informação será dada
            a outras pessoas que não façam parte da equipe de pesquisadores. Na divulgação dos resultados
            desse estudo, seu nome não será citado.
        </p>
    </div>